{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th colspan="7" id="title">Add Cleaning</th>
        </tr>
        </thead>
        <tr class="weekdays_row">
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </table>
    <form action="{% url 'add-cleaning' %}" method="POST">
        {% csrf_token %}
        {% for month in all_months_info_for_template %}
            <div id="{{ month.sorted_all_month_info.month_name }}">
                <table class="table">
                    <tr class="month_row">
                        <th colspan="7" id="month"><h3>{{ month.sorted_all_month_info.month_name }}</h3></th>
                    </tr>
                    <tr class="jump_row">
                        <td colspan="7">
                            <div>
                                <button type="button" class="btn btn-success btn-lg btn-block">
                                    <a href="#{{ current_month_as_str }}">
                                        <span><i class="material-icons">arrow_downward</i></span>
                                        <span> Jump to current month</span>
                                        <span> <i class="material-icons">arrow_downward</i></span>
                                    </a>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        {% for day in month.sorted_all_month_info.weeks_in_month %}
                            <tr class="day_row">
                                <td>
                                    {{ day.0.1 }}
                                </td>
                                <td>
                                    {{ day.1.1 }}
                                </td>
                                <td>
                                    {{ day.2.1 }}
                                </td>
                                <td>
                                    {{ day.3.1 }}
                                </td>
                                <td>
                                    {{ day.4.1 }}
                                </td>
                                <td>
                                    {{ day.5.1 }}
                                </td>
                                <td>
                                    {{ day.6.1 }}
                                </td>
                            </tr>
                            <tr>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.0.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.0.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.0.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.1.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.1.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.1.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.2.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.2.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.2.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.3.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.3.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.3.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.4.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.4.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.4.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.5.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.5.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.5.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                                {% for single_day_info in sorted_all_days_info %}
                                    {% if single_day_info.day == day.6.0 %}
                                        <td style="background-color: {{ single_day_info.selected_roommate.colour }}">
                                    {% endif %}
                                {% endfor %}
                                <label class="select_label">
                                    <select name="roommate_index_{{ day.6.0 }}" class="custom-select">
                                        {% for roommate in all_roommates %}
                                            <option value={{ roommate.id }}>{{ roommate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="select_label">
                                    <select name="room_index_{{ day.6.0 }}" class="custom-select">
                                        {% for room in all_rooms %}
                                            <option value={{ room.id }}>{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                </td>
                            </tr>
                        {% endfor %}
                    <tr>
                        <td colspan="7">
                            <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </form>

{% endblock %}