{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th colspan="4">Add Roommate</th>
        </tr>
        </thead>
    </table>
    <table class="table">
        <tbody>
        <tr>
            <td>
                <form action="{% url 'add-roommate' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}