{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
        <tr>
            <td>
                <h1>Add roommate</h1>
            </td>
        </tr>
        </thead>
    </table>
    <table>
        <tr>
            <td>
                <form action="{% url 'add-roommate' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" class="btn btn-primary>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}