{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th colspan="3">Roommate List</th>
        </tr>
        </thead>
    </table>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Colour</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for roommate in all_roommates %}
            <tr>
                <td> {{ roommate.name }}</td>
                <td> {{ roommate.colour }}</td>
                <td><a href="{% url 'delete-roommate' roommate.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}