{% extends 'base.html' %}
{% block content %}
     <table class="table">
        <thead class="thead-dark">
        <tr>
            <th colspan="4">Room List</th>
        </tr>
        </thead>
    </table>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for room in all_rooms %}
            <tr>
                <td> {{ room.name }}</td>
                <td><a href="{% url 'delete-room' room.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}