{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th colspan="2" id="title">Roommate List</th>
        </tr>
        </thead>
    </table>
    <table class="table">

        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>

        <tbody>
        {% for roommate in roommates_by_user %}
            <tr>
                <td> {{ roommate.name }}</td>
                <td><a href="{% url 'delete-roommate' roommate.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}