{% extends 'base.html' %}
{% block content %}
    <h1>Apartments list</h1>
    {% for user in all_users %}
        <div class="btn-group btn-group-toggle">
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" autocomplete="off">  {{ user.username }}
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off">
                <a href="{% url 'delete-user' user.id %}">delete</a>
            </label>
        </div>
        <br>
    {% endfor %}
{% endblock %}