{% extends 'base.html' %}
{% block content %}
     <table class="table">
        <thead class="thead-dark">
        <tr>
            <th colspan="4">Account List</th>
        </tr>
        </thead>
    </table>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in all_users %}
            <tr>
                <td> {{ user.username }}</td>
                <td><a href="{% url 'delete-user' user.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}