.table {
    table-layout: fixed;
    width: 100%;
}
table, td, tr, th {
    border: 3px solid darkslategray;
}
td{
    height: 80px;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

input[type=password] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

select {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}


